@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.title-1 {
  @apply text-5xl font-extrabold uppercase leading-[64px] text-white;
}
.subtitle {
  @apply text-[16px] font-bold uppercase leading-[20px] text-highlight;
}
.title-2 {
  @apply text-[35px] font-extrabold leading-[43px] text-primary;
}
.title-2.alt {
  @apply text-white;
}
.title-2.secondary {
  @apply text-secondary;
}
.subtitle + .title-2 {
  @apply mt-[6px];
}
.title-2 + p {
  @apply mt-[12px];
}
p {
  @apply flex items-start text-[18px] font-medium leading-[22px] text-black;
}
p.alt {
  @apply text-white;
}

.scaleLottiex4 {
  transform: scale(4);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
